
$color-primary: #ff6e14;

$color-shade-0: #ffffff;
$color-shade-1: #fafafa;
$color-shade-2: #f5f5f5;
$color-shade-3: #f2f2f2;
$color-shade-4: #e6e6e6;
$color-shade-5: #cccccc;
$color-shade-6: #b3b3b3;
$color-shade-7: #999999;
$color-shade-8: #808080;
$color-shade-9: #666666;
$color-shade-10: #4d4d4d;
$color-shade-11: #333333;
$color-shade-12: #1a1a1a;
$color-shade-13: #000000;

$color-white: $color-shade-1;
$color-black: $color-shade-13;