body > header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 -1px 4px 0 rgba(26,26,26,.08),0 4px 8px 0 rgba(26,26,26,.12);
  }